:root {
    --main-color: hsl(212, 45%, 89%);
    --container-color: #ffffff;
    --subtitle-color: hsl(218, 44%, 22%);
    --paragraph-color: hsl(216, 15%, 48%);
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-color);
    padding: 1.0rem;
    max-width: 250px;
    border-radius: 1.5rem;
}

.container img {
    width: 100%;
    border-radius: 10px;
}

.informacoes {
    text-align: center;
    padding: 2.0rem;
}

.informacoes h2 {
    font-size: 1.6rem;
    color: var(--subtitle-color);
    margin-bottom: 10px;
}

.informacoes p {
    color: var(--paragraph-color);
}